<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
  <nav class="mb-4">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/books">Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books/new">New book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors/new">New author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/countries">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/countries/new">New country</a>
      </li>
    </ul>
  </nav>
  
  <form method="post" action="/books/create">
    <p>
      <input type="text" name="name">
    </p>
    <p>
      <select name="author_id">
        <% @authors.each do |author| %>
          <option value="<%= author["id"] %>"><%= author["name"] %></option>
        <% end %>
      </select>
    </p>
    <button type="submit">Create book</button>
  </form>

</body>
</html>
