<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/books">Book</a>
    <a href="/books/new">New book</a>
  </nav>

  <form method="post" action="/books/create">
    <p>
      <input type="text" name="name">
    </p>
    <p>
      <select name="author_id">
        <% @authors.each do |author| %>
          <option value="<%= author["id"] %>"><%= author["name"] %></option>
        <% end %>
      </select>
    </p>
    <button type="submit">Create book</button>
  </form>

</body>
</html>
