<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/books">Book</a>
    <a href="/books/new">New book</a>
    <a href="/authors">Authors</a>
    <a href="/authors/new">New author</a>
    <a href="/countries">Countries</a>
    <a href="/countries/new">New country</a>
  </nav>

  <ul>
    <% @countries.each do |country| %>
      <li>
        <p>Name: <%= country["name"] %><p>
      </li>
    <% end %>
  </ul>
</body>
</html>
